<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Awersome Publs</title>
</head>
<body>
<div class="wrapper">
    <div id="navbar"></div>
    <div id="app">
        <div class="container">
            {% if dev %}
            <p>If you're seeing this message, that means you haven't yet compiled your ClojureScript!</p>

            <p>Please run <code>lein figwheel</code> to start the ClojureScript compiler and reload the page.</p>

            <p>See <a href="http://www.luminusweb.net/docs/clojurescript.md">ClojureScript</a> documentation for further
                details.</p>
            {% else %}
            <div class="three-quarters-loader">Loading…</div>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="col s1">
            <div class="logo-background">
                <img src="/svg/logo_back.svg" alt="Innopolis University">
            </div>
        </div>
    </div>

    <footer class="page-footer brown darken-2">
        <div class="container">
            <div class="row">
                <div class="col s1 m2-3">
                    <h5 class="white-text">Publs</h5>
                    <p class="white-text">The publication managment system</p>
                    <p class="grey-text text-lighten-1">
                        In this system you can read, create, update and delete the publication records. Also you can
                        leave comments, rates, sharing publications with friends.
                    </p>
                </div>
                <div class="col s2 m3">
                    <h5 class="white-text">Contact</h5>
                    <ul class="contact-link">
                        <li><a href="#!">Innopolis University</a></li>
                        <li><a href="#!">Ivan Plyusnin</a></li>
                        <li><a href="#!">Gosha Krikun</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright brown darken-4">
            <div class="container">
                Write on
                <a class="blue-text text-lighten-3" href="http://clojure.org/">Clojure</a>,
                <a class="green-text text-lighten-3" href="https://github.com/clojure/clojurescript">ClojureScript</a>.
                Build with
                <a class="blue-text text-lighten-3" href="http://www.luminusweb.net/">Luminus</a>,
                <a class="green-text text-lighten-3" href="http://leiningen.org/">Leiningen</a>,
                <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>

</div> <!-- ./wrapper -->


<!-- scripts and styles -->
{% style "/css/materialize.css" %}
{% style "/css/icons.css" %}
<!--{% script "/assets/jquery/jquery.min.js" %}-->
<!--
fuck this shit! seems like guys write not on this version of jQuery
and I don't like jQuery
so lets rewrite their shitty code to clojure beauty
-->
<!--{% script "/js/modules/cards.js" %}-->
{% script "/js/masonry.pkgd.min.js" %}

<script type="text/javascript">
    var context = "{{servlet-context}}";
</script>
{% if dev %}
{% script "/js/out/goog/base.js" %}
{% script "/js/app.js" %}
<script type="text/javascript">goog.require("web.app");</script>
{% else %}
{% script "/js/app.js" %}
{% endif %}

</body>
</html>




