@font-face {
  font-family: "Material Icon";
  src: url('../font/material-icons/Material-Design-Icons.eot');
  src: url('../font/material-icons/Material-Design-Icons.eot?#iefix') format('eot'),
    url('../font/material-icons/Material-Design-Icons.woff') format('woff'),
    url('../font/material-icons/Material-Design-Icons.ttf') format('truetype'),
    url('../font/material-icons/Material-Design-Icons.svg#Icons') format('svg');
}


@font-face {
  font-family: "Icons";
  src: url('../font/icons/Icons.eot');
  src: url('../font/icons/Icons.eot?#iefix') format('eot'),
    url('../font/icons/Icons.woff') format('woff'),
    url('../font/icons/Icons.ttf') format('truetype'),
    url('../font/icons/Icons.svg#Icons') format('svg');
}

.i:before {
  font-family: "Icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
  float: left;
  font-size: 1.4em;
}


.i-authors:before {
  content: "\E001";
}

.i-pubs:before {
  content: "\E002";
}

.i-top:before {
  content: "\E003";
}

.i-top2:before {
  content: "\E004";
}
